{% extends "base.html" %}
{% block title %}Ligas{% endblock %}
<!--////////////////////////////////////Container-->
{% block content %}

<h3>Ligas más usadas en FIFA ULTIME TEAM</h3>
<h3>Liga: {{liganom1}}</h3>
<h3>ID: {{ligaid1}}</h3>
<div><img class="img-fluid mb-3 mb-lg-0" src="https://futdb.app/api/leagues/{{ligaid1}}/image" alt="" /></div>

<h3>Liga: {{liganom2}}</h3>
<h3>ID: {{ligaid2}}</h3>
<div><img class="img-fluid mb-3 mb-lg-0" src="https://futdb.app/api/leagues/{{ligaid2}}/image" alt="" /></div>

<h3>Liga: {{liganom3}}</h3>
<h3>ID: {{ligaid3}}</h3>
<div><img class="img-fluid mb-3 mb-lg-0" src="https://futdb.app/api/leagues/{{ligaid3}}/image" alt="" /></div>

<h3>Liga: {{liganom4}}</h3>
<h3>ID: {{ligaid4}}</h3>
<div><img class="img-fluid mb-3 mb-lg-0" src="https://futdb.app/api/leagues/{{ligaid4}}/image" alt="" /></div>

<h3>Liga: {{liganom5}}</h3>
<h3>ID: {{ligaid5}}</h3>
<div><img class="img-fluid mb-3 mb-lg-0" src="https://futdb.app/api/leagues/{{ligaid5}}/image" alt="" /></div>



{% endblock %}